
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#8704F4;
    --cor-terciaria:orange;
    --cor-branca: #f6f6f6;
    
}


*{
    margin: 0;
    padding: 0;

}

body  {
    /* height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    padding: 2rem;
}
.about-body{
    display: flex;
    flex-direction: column;
}

.mudei-corzinha {color:var(--cor-terciaria)
}
.strong-main{ color: var(--cor-terciaria);}
.principal{
    padding: 8% 15%;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;


}
.apresentacao__conteudo{
        gap: 30px;
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 1.25rem;
    }
.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
    color: var(--cor-branca);
}
.apresentacao__conteudo__texto{
    font-family: 'Krona One', sans-serif;
    font-size: 1.25rem;
}
.desculpinha{
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.apresentacao_link_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    }
.botao{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.botao_link:hover{
    background-color: orange;
    color: red;
}
.botao_link{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px; 
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0px;
    text-decoration: none;
    font-weight: 600;
    border: 8px solid #8704F4;
}
.apresentacao_imagem{
    width: 25%;
    margin-left: 3rem;

}

.rodape{
    padding: 3%;
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    color:var(--cor-primaria);
    background-color: orange;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.about-p1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.link__texto{
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cursos__titulo{
    font-size: 16px;
    font-weight: 500;
}
.linguas{
    padding: 2%;
}
.linguas__titulo{
    margin-top: 20px;
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-branca);
  }
  .cursos__titulo{
    margin-top: 20px;
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-branca);
  }

.principal{
    flex-direction: column-reverse;
    padding: 5%;
    
  }
  .objetivo{
    font-size: 20px;
    
  }.objetivo__titulo{
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-branca);
  }
  .principal-home{
    padding: 8% 15%;
    align-items: center;
    display: flex;
    flex-direction: row;
   
   
  }



@media (max-width: 1200px){

    .cabecalho{
        padding: 10%;

    }
    .cabecalho__menu{
        justify-content: center;
    }

    .principal{
    flex-direction: column-reverse;
    padding: 5%;
    
  }
  .apresentacao__conteudo{
    width: 70%;
  }
  

}

